div.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353a406e;
  border-radius:5px;
  padding: 10px 0px 50px;
  flex: 1;
}

form{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
}
fieldset{
  border: none;
  padding:10px 0px 10px 0px;
}
fieldset input{
  width: 23rem;
  height: 4rem;
  border: none;
  background-color: #E8E9EB;
  color: #353A40;
  font-size: 1.1rem;
  box-shadow: 1px .7px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
}
fieldset select{
  width: 15rem;
  height: 4rem;
  border: none;
  background-color: #E8E9EB;
  color: #353A40;
  font-size: 1.1rem;
  box-shadow: 1px .7px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
}
fieldset#fildTrabalhador select{
  width: 40rem;
  color:#E8E9EB;
  background-color: rgb(3, 128, 128);
}
fieldset#fild1{
  display: flex;
  justify-content: space-between;
}
fieldset#fild3{
  display: flex;
  width: 40rem;
  justify-content: space-between;
}
fieldset#fild3 select{
  width: 19rem;
}
fieldset#fild5{
  display: flex;
  justify-content: space-between;
}
fieldset#fild5 input{
  width: 19rem;
}
fieldset#Range{
  display: flex;
  align-items: center;
}
fieldset#Range p{
  color: #353A40;
  padding: 10px;
}
fieldset#fild6 input{
  width: 40rem;
}

form button{
  width: 40rem;
  height: 4rem;
  font-size: 1.1rem;
  font-family: 'Varela Round';
  border: none;
  background-color: #E5E93E;
  color: #353A40;
  box-shadow: 1px .7px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: .6s;
}
form button:hover{
  color: #E8E9EB;
  background-color: rgb(3, 128, 128);
} 