header{
  background-color: #353A40;
  padding: 8px;
  border-bottom: 2px solid #e8e9eba4;
}

header div.elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

div.content,div.item,div.btnSearchBox{
  display: flex;
  align-items: center;
}
div.item{
  color: #E8E9EB;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
div.item p{
  font-family: 'Varela Round';
  font-weight:400;
  font-size:.9rem;
}
div.btnSearchBox{
  margin-left: 15px;
  
}
div.btnSearchBox input{
  font-family: 'Varela Round';
  font-weight:400;
  font-size:.9rem;

  width: 10rem;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: #353A40;
  background-color: #fff;
}
div.btnSearchBox button{
  font-family: 'Varela Round';
  font-weight:400;
  font-size:.9rem;

  background-color: #E5E93E;
  color: #353A40;
  border: none;
  width: 9rem;
  height: 2rem;
  margin-left: 8px;
  border-radius: 3px;
  box-shadow: 1px .8px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: .6s;
}
div.btnSearchBox button:hover{
  background-color:  rgb(3, 128, 128);
  color: #E8E9EB;
}
