body{
  overflow: hidden;
}
div.elements{
 
}

div.corpo{
  display: flex;
  flex-direction: row;
  
  margin: auto;

}

aside.left{
  background-color: #353A40;
  width: 15rem;
  height: calc(100vh - 2.75rem);
  display: flex;
  flex-direction: column;
  color: #E8E9EB;
  font-family: 'Ubuntu',sans-serif;
  font-size: 0.9rem;
  transition: 0.6s;
}
aside.on{
  width: 4rem;
}
aside.left div.menuToggle{
  text-align: right;
  margin: 1rem .8rem 1rem 0rem;
  cursor: pointer;
}
aside.left div.menuToggle:hover{
  color: #E5E93E;
}
aside.left div.texts{
    margin-top: 4rem;
}
aside.left div.texts p{
  display: flex;
  align-items: center;
}
aside.left div.texts p img{
  order: -1;
  margin-right:12px;
  
}


aside.left div.texts p{
  background-color: #e8e9eb23;
  margin-bottom: .6rem;
  margin-left: .8rem;
  padding: 10px;
  border-radius: 3px 0px 0px 3px;
  transition: 0.5s;
  cursor: pointer;

  
}
aside.left div.texts p:hover{
  background-color: rgb(3, 128, 128);
}

aside.left div.boxButtom{
  margin-top: auto;
  align-self: center;
  margin-bottom: 2rem;
}
aside.on div.boxButtom{
  display: none;
}
aside.left div.boxButtom button{
  width: 7rem;
  height: 2.5rem;
  border: none;
  background-color: #E5E93E;
  color: #353A40;
  border-radius: 3px;
  box-shadow: 1px .8px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: .6s;
}
aside.left div.boxButtom button:hover{
  background-color: rgb(3, 128, 128);
  color: #E8E9EB;
}

aside.right{
  background-color: #E8E9EB;
  width: 100vw;
  height: calc(100vh - 2.75rem);
  overflow: auto;

}
aside.right div.content{
  display: block;
  background-color: #fff;
  width: 97%;
  margin: 1rem auto;
  border-radius:6px;
  padding: 10px;
}
aside.right div.elements1{
 
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  

}