
div.Principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E93E;
  color: #353A40;
  font-family: 'Roboto';
  border-radius: 5px;

}
div.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  width: 18rem;
  height: 2rem;
  border-bottom: 2px solid #353A40;
}
div.qntd{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 4rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  
}